@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --background: #ffffff;
    --backgroundOpacity: #ffffff00;
    --primary: #002b5c;
    --secondary: #c9082c;
    --paragraph: #0d223f;
    --paragraphOpacity: #0d223f00;
    --terciary: #f9c51a;
}

h1,
h2,
h3,
p {
  color: var(--paragraph);
}

main {
    background-color: var(--background);
    min-height: 100vh;
    width: 100%;
}

.swingman-gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin: 5rem 2.5rem;
    width: 20rem;
}

.swingman-gallery-h2 {
    text-align: center;
}

.swingman-item {
    width: 18rem;
}

.swingman-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 2.5rem -0.5rem var(--terciary);
}

.swingman-card-img {
    width: 15rem;
    height: 16rem;
}

.swingman-card-h3 {
    font-size: 1rem;
    width: 15rem;
    text-align: center;
}