@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root {
  /* BOX-SHADOW */

  --rtc-box-shadow-header-menu: 0 0 1.5rem -0.5rem var(--rtc-color-n-700);
  --rtc-box-shadow-card: 0 0 2.5rem -0.5rem var(--rtc-color-n-700);
  --rtc-box-shadow-card-hover: 0 0 2.5rem -0.5rem var(--rtc-color-n-500);
  --rtc-box-shadow-footer: 0 0 1.5rem -0.25rem var(--rtc-color-n-700);

  /* COLOR PALETTE */
  --rtc-color-n-000: #ffffff;
  --rtc-color-n-500: #c9082c;
  --rtc-color-n-700: #002b5c;
  --rtc-color-n-900: #000000;

  /* FONT-SIZE */
  --rtc-font-size-mini: 0.75rem;
  --rtc-font-size-card: 0.8rem;
  --rtc-font-size-x1: 1rem;
  --rtc-font-size-x1dot125: 1.125rem;
  --rtc-font-size-x2: 2rem;
  --rtc-font-size-x2dot5: 2.5rem;

  /* GAP */

  --rtc-gap-dot75: 0.75rem;
  --rtc-gap-x1: 1rem;
  --rtc-gap-x1dot5: 1.5rem;
  --rtc-gap-x2: 2rem;
  --rtc-gap-x2dot5: 2.5rem;
  --rtc-gap-x4: 4rem;

  /* LINE-HEIGHT */

  --rtc-line-height: 1.2rem;

  /* HEIGHT */

  --rtc-height-x2: 2rem;
  --rtc-height-x2dot5: 2.5rem;
  --rtc-height-x3: 3rem;
  --rtc-height-x3dot5: 3.5rem;
  --rtc-height-img: 16rem;
  --rtc-height-item: 20rem;
  --rtc-height-100: 100%;

  /* MARGIN */

  --rtc-margin-half: 0.5rem;
  --rtc-margin-x2: 2rem;
  --rtc-margin-x2dot5: 2.5rem;
  --rtc-margin-x3: 3rem;
  --rtc-margin-x5: 5rem;
  --rtc-margin-x6: 6rem;
  --rtc-margin-x8: 8rem;
  --rtc-margin-x12: 12rem;
  --rtc-margin-x16: 16rem;
  --rtc-margin-x28: 28rem;

  /* PADDING */

  --rtc-padding-half: 0.5rem;
  --rtc-padding-x1: 1rem;
  --rtc-padding-x1dot5: 1.5rem;
  --rtc-padding-x2: 2rem;
  --rtc-padding-x3: 3rem;
  --rtc-padding-x4: 4rem;
  --rtc-padding-x8: 8rem;
  --rtc-padding-x16: 16rem;
  --rtc-padding-x32: 32rem;

  /* POSITION */

  --rtc-position-left-nba_logo: -0.285rem;
  --rtc-position-left-mobile-s: 43.5%;
  --rtc-position-left-mobile-m: 45%;
  --rtc-position-left-mobile-l: 47%;
  --rtc-position-top-nba_logo: 92.5%;

  /* WIDTH */

  --rtc-width-x2: 2rem;
  --rtc-width-x2dot5: 2.5rem;
  --rtc-width-x8: 8rem;
  --rtc-width-item: 10rem;
  --rtc-width-75: 75%;
  --rtc-width-100: 100%;
}

h2 {
  color: var(--rtc-color-n-500);
}

a {
  text-decoration: none;
}

p {
  font-size: var(--rtc-font-size-x1);
}

h1,
h3,
p {
  color: var(--rtc-color-n-700);
}

ul,
li {
  list-style: none;
  padding: 0;
}

section {
  background-color: var(--rtc-color-n-000);
}

main p {
  padding-bottom: var(--rtc-padding-x2);
}

footer {
  background-color: var(--rtc-color-n-000);
  box-shadow: var(--rtc-box-shadow-footer);
}

footer p {
  color: var(--rtc-color-n-900);
  font-size: var(--rtc-font-size-mini);
  padding: 0 0 var(--rtc-padding-x2) var(--rtc-padding-half);
}

.rtc--flex {
  display: flex;
}

.rtc--swingman-header-logo {
  justify-content: center;
  margin-top: var(--rtc-margin-x5);
}

.rtc--swingman-header-logo-h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: var(--rtc-font-size-x2dot5);
  text-align: center;
}

.rtc--swingman-header-filters-menu {
  background-color: var(--rtc-color-n-000);
  box-shadow: var(--rtc-box-shadow-header-menu);
  height: var(--rtc-height-x3);
  position: fixed;
  top: 0;
  transition: all 0.1s;
  width: var(--rtc-width-100);
}

.rtc--swingman-header-filters-menu-img {
  cursor: pointer;
  height: var(--rtc-height-x3);
}

.rtc--swingman-header-filters-menu-nba_logo {
  position: fixed;
  top: 0;
  left: var(--rtc-position-left-mobile-s);
  height: var(--rtc-height-x3);
}

.rtc--swingman-header-filters-sellers_div {
  align-items: center;
  flex-direction: column;
  gap: var(--rtc-gap-x2);
  padding: var(--rtc-padding-x2) var(--rtc-padding-x4) var(--rtc-padding-x4)
    var(--rtc-padding-x4);
}

.rtc--swingman-header-filters-sellers_label {
  color: var(--rtc-color-n-700);
  font-family: 'Lato', sans-serif;
  font-size: var(--rtc-font-size-x1dot125);
  text-align: center;
}

.rtc--swingman-header-filters-sellers_select,
.rtc--swingman-header-filters-price_input,
.rtc--swingman-header-filters-price_search,
.rtc--swingman-header-filters-cleaner_button {
  width: var(--rtc-width-x8);
  height: var(--rtc-height-x2);
}

.rtc--swingman-header-filters-price_div {
  align-items: center;
  flex-direction: column;
  gap: var(--rtc-gap-x2);
  padding: 0 var(--rtc-padding-x4) var(--rtc-padding-x4) var(--rtc-padding-x4);
}

.rtc--swingman-header-filters-price_label {
  color: var(--rtc-color-n-500);
  font-family: 'Lato', sans-serif;
  font-size: var(--rtc-font-size-x1dot125);
  text-align: center;
}

.rtc--swingman-header-filters-price_input {
  text-align: center;
}

.rtc--swingman-header-filters-sellers_select,
.rtc--swingman-header-filters-sellers_select option,
.rtc--swingman-header-filters-price_input,
.rtc--swingman-header-filters-price_search,
.rtc--swingman-header-filters-cleaner_button {
  font-size: var(--rtc-font-size-mini);
}

.rtc--swingman-header-filters-sellers_select,
.rtc--swingman-header-filters-price_search,
.rtc--swingman-header-filters-cleaner_button {
  cursor: pointer;
}

.rtc--swingman-header-filters-cleaner_div {
  justify-content: center;
  padding: 0 var(--rtc-padding-x4);
}

.rtc--swingman-products {
  margin: var(--rtc-margin-x2) 0 var(--rtc-margin-x5) 0;
}

.rtc--swingman-products-gallery-card-notfound {
  padding: var(--rtc-padding-x8) var(--rtc-padding-x2) var(--rtc-padding-x16)
    var(--rtc-padding-x2);
  text-align: center;
}

.rtc--swingman-products-gallery {
  flex-direction: column;
  gap: var(--rtc-gap-x4);
  margin: 0 var(--rtc-margin-x2);
}

.rtc--swingman-products-gallery-card {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--rtc-gap-x1dot5);
  border-radius: 1rem;
  box-shadow: var(--rtc-box-shadow-card);
}

.rtc--swingman-products-gallery-card:hover {
  box-shadow: var(--rtc-box-shadow-card-hover);
}

.rtc--swingman-products-gallery-item:nth-of-type(-n + 4)
  .rtc--swingman-products-gallery-card-img {
  padding: var(--rtc-padding-x1dot5) 0 var(--rtc-padding-half) 0;
}

.rtc--swingman-products-gallery-card-img {
  padding-top: var(--rtc-padding-x1);
  height: var(--rtc-height-img);
  object-fit: cover;
  width: var(--rtc-width-75);
}

.rtc--swingman-products-gallery-card-h3 {
  font-size: var(--rtc-font-size-x1);
  height: var(--rtc-height-x3dot5);
  width: var(--rtc-width-75);
  text-align: center;
}

.rtc--swingman-footer-social_webs {
  gap: var(--rtc-gap-x1);
  justify-content: flex-end;
  padding: var(--rtc-padding-x1dot5) var(--rtc-padding-x1) var(--rtc-padding-x3)
    0;
}

.rtc--swingman-footer-social_web-img {
  width: var(--rtc-width-x2);
  height: var(--rtc-height-x2);
}

@media screen and (min-width: 320px) {
  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x2dot5);
  }
}

@media screen and (min-width: 375px) {
  .rtc--swingman-header-filters-menu-nba_logo {
    left: var(--rtc-position-left-mobile-m);
  }

  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x3);
  }
}

@media screen and (min-width: 400px) {
  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x5);
  }
}

@media screen and (min-width: 500px) {
  .rtc--swingman-products-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--rtc-gap-x2dot5);
  }

  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x2dot5);
  }

  .rtc--swingman-products-gallery-item {
    width: 45%;
  }

  .rtc--swingman-products-gallery-card-notfound {
    padding-bottom: var(--rtc-padding-x32);
  }
}

@media screen and (min-width: 768px) {
  footer p {
    padding-left: var(--rtc-padding-x3);
  }

  .rtc--swingman-header-filters-menu {
    height: var(--rtc-height-100);
    width: var(--rtc-width-x2dot5);
  }

  .rtc--swingman-header-logo {
    margin-top: var(--rtc-margin-half);
  }

  .rtc--swingman-header-filters-menu-img {
    height: var(--rtc-height-x2dot5);
  }

  .rtc--swingman-header-filters-menu-nba_logo {
    left: var(--rtc-position-left-nba_logo);
    top: var(--rtc-position-top-nba_logo);
  }

  .rtc--swingman-products-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 var(--rtc-margin-x5);
  }

  .rtc--swingman-products-gallery-item {
    height: var(--rtc-height-item);
    width: var(--rtc-width-item);
  }

  .rtc--swingman-products-gallery-card {
    gap: var(--rtc-gap-dot75);
  }

  .rtc--swingman-products-gallery-card-h3,
  p {
    font-size: var(--rtc-font-size-card);
  }
}

@media screen and (min-width: 850px) {
  .rtc--swingman-products {
    margin-bottom: var(--rtc-margin-x8);
  }

  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x6);
  }
}

@media screen and (min-width: 1024px) {
  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x8);
  }
}

@media screen and (min-width: 1200px) {
  .rtc--swingman-products {
    margin-bottom: var(--rtc-margin-x12);
  }

  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x12);
  }
}

@media screen and (min-width: 1440px) {
  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x16);
  }
}

@media screen and (min-width: 2000px) {
  .rtc--swingman-products-gallery {
    margin: 0 var(--rtc-margin-x28);
  }
}
